<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="vue.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- 动态过渡，过渡的方式和效果可以运行时指定 -->
    <!-- 对于采用css的过渡，可以动态绑定name属性实现动态指定不同的过渡效果 -->
    <div id="vm1">
        <button @click="show = !show">switch</button>
        <transition v-bind:name="transitionName">
            <p v-if="show">Hello Vue</p>
        </transition>
    </div>

    <!-- 对于采用JavaScript的过渡，可以在回调函数内动态使用属性值实现不同的过渡效果 -->
    <div id="vm2">
        <button @click="show = !show">switch</button>
        <input type="range" v-model="timeLength" min="50" max="300">
        <transition 
                v-on:enter="enter" 
                v-on:before-enter="beforeEnter"
                v-on:leave="leave">
            <p v-if="show">Hello Vue</p>
        </transition>
    </div>

    <script src="index.js"></script>
</body>
</html>