<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>
<body>
    <div id="vm1">
        {{ msg }} <br/>
        {{ msg.split('').reverse().join('') }} <br/>
        {{ reverseMsg }} <br/>
        {{ reverseFun() }} <br/>
    </div>

    <div id="vm2">
        <p><input v-model="firstName1"></p>
        <p><input v-model="lastName1"></p>
        <p>{{ fullName1 }}</p>
        <p><input v-model="firstName2"></p>
        <p><input v-model="lastName2"></p>
        <p>{{ fullName2 }}</p>
    </div>

    <div id="vm3">
        <p><input v-model="firstName"></p>
        <p><input v-model="lastName"></p>
        <p><input v-model="fullName"></p>
    </div>

    <div id="vm4">
        <p>Ask a question:<input v-model="question"></p>
        <p>The answer is:{{ answer }}</p>
    </div>

    <script src="index.js"></script>
</body>
</html>