<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.min.js"></script>
</head>
<body>
    <div id="vm1">
        <div>{{ title }}</div>
        <my-component1></my-component1>
        <my-component3></my-component3>
        <my-component6></my-component6>

        <div>
            <input type="radio" value="my-component7" v-model="curComponent">my-component7
            <input type="radio" value="my-component8" v-model="curComponent">my-component8
            <component v-bind:is="curComponent"></component>
        </div>

        <my-component9></my-component9>

        <tree-folder :folder="tree"></tree-folder>

        <my-component10 inline-template>
            <div>this is inline-template</div>
        </my-component10>

        <my-component11></my-component11>

        <my-component12 v-bind:title1="title"></my-component12>
        <div>
            <button @click="forceUpdate()">强制更新</button>
        </div>
    </div>

    <script type="text/x-template" id="my-component11-template">
        <p>Hello hello x-template</p>
    </script>
    <script src="index.js"></script>
</body>
</html>