<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.min.js"></script>
</head>
<body>
    <div id="vm1">
        <input type="radio" value="my-component1" v-model="curComponent" />my-component1
        <input type="radio" value="my-component2" v-model="curComponent" />my-component2
        <keep-alive>
            <component v-bind:is="curComponent"></component>
        </keep-alive>

        <async-component></async-component>
        
    </div>

    <script src="index.js"></script>
</body>
</html>