<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="vue.min.js"></script>
</head>
<body>
    
    <!-- <my-component1></my-component1> -->

    <div id="vm1">
        <input v-red-bg:foo.a.b="text1" v-model="text1" />
        <p v-bg-color="text1">abc efg</p>
        <p v-style-directive="{backgroundColor: 'red', color: 'blue'}">abc efg</p>
        <div v-if="show">
            <input v-focus />
        </div>
        <button @click="show = !show">切换隐藏</button>
        
    </div>

    <script src="index.js"></script>
</body>
</html>